body {
    background-image: url("/images/gooseberry-cove.jpg");
    background-size: 2400px;
    background-repeat: no-repeat;
    background-position-x: center;
    /* background-color: antiquewhite */
}

h3 {
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px grey;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-left: 10px;
    text-shadow: 1px 1px 1px grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro {
    width: 700px;
    padding: 1px 15px 20px 15px;
    margin: 784px auto auto auto;
    background-color: rgba(128, 128, 128, 0.05);
    border-radius: 20px;
}

/* ul {
    list-style-type: circle;
}

li {
    color: darkgreen;
    font-family: sans-serif;
}

li.secondItem {
    color: blueviolet;
}

button {
    background-color: cadetblue;
    font-family: monospace;
    font-size: large;
}

img {
    border-radius: 50px;
    max-width: 100%;
    max-height: auto;
} */