body {
    background-image: url("/images/gooseberry-cove-rotated.jpg");
    background-size: 2400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 1%;
}

h3 {
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px grey;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-left: 10px;
    text-shadow: 1px 1px 1px grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro {
    width: 750px;
    padding: 1px 15px 20px 15px;
    margin: 800px auto auto auto;
    background-color: rgba(128, 128, 128, 0.05);
    border-radius: 20px;
    line-height: 0.5;
}